<div class="bg-grey">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-6 col-md-offset-3 nopadding">
      <div class="bar-card text-center">
        <h1><%= @bar.name %></h1>
        <p><%= @bar.address %></p>
        <%= render "carousel" %>
        <p class="bar-card-description"><%= @bar.description %></p>
        <h4>Select a drink</h4>
        <%= form_tag new_bar_booking_path(@bar), method: :get do %>
          <% @bar.gifts.each do |gift| %>
            <div class="radio-button">
              <%= radio_button_tag :gift_id, gift.id %>
              <%= label_tag :gift_id, "<span class='gift-name'>#{gift.name}</span> <span class='gift-price'>#{gift.price} €</span>".html_safe, for: "gift_id_#{gift.id}" %>
            </div>
          <% end %>
          <%= submit_tag "Select", class: "action-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

