<div class="bg-grey">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <% if @bookings.empty? %>
          <div class="white-card text-center">
            <h2>You have no gifts</h2>
            <br>
            <br>
            <br>
            <p><%= image_tag 'cheers.png' %></p>
            <br>
            <br>
            <br>
            <p class="text-center"><%= link_to 'Offer a drink', cities_path, class: 'btn btn-primary' %></p>
          </div>
        <% else %>
          <div class="coupon-container">
          <% @bookings.reverse_order.each do |booking| %>
            <div class="coupon">
              <strong class="coupon-title">A <%= booking.gift.name %> from <%= booking.user.name %></strong>
              <span class="coupon-details">
                <p><i class="fa fa-calendar-o"></i> le <%= booking.created_at %></p>
                <p><i class="fa fa-map-marker"></i> <%= booking.gift.bar.name %></p>

                <% if  booking.still_valid == false %>
                  <% if booking.complete %>
                    <p><i class="fa fa-check"></i> You already enjoyed it !</p>
                  <% else %>
                    <p class="coupon-expired"><strong><i class="fa fa-times"></i> The coupon expired </strong></p>
                  <% end %>
                <% else %>
                  <% if booking.complete %>
                    <p><i class="fa fa-check"></i> You already enjoyed it !</p>
                  <% else %>
                    <dl>
                      <dt><i class="fa fa-times"></i> You did not enjoy it yet !</dt>
                      <dd>validate until <%= booking.ends_on %></dd>
                    </dl>
                    <div class="text-center">
                    <p><%= link_to 'Drink it', new_coupon_confirmation_path(booking.token), class:"btn btn-primary" %></p>
                    </br>
                    </div>
                  <% end %>
                <% end %>

              </span>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
