<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <% current_user.bookings.each do |booking| %>
        <div class="col-xs-12">
          <div class="bkg-card">
            <strong class="title"><%= booking.gift.name %> pour <%= booking.friend_name %></strong>
            <span class="details">

              <p><i class="fa fa-calendar-o"></i> le <%= booking.created_at %></p>
              <p><i class="fa fa-map-marker"></i> <%= booking.gift.bar.name %></p>
              <p><i class="fa fa-eur"></i> <%= booking.gift.price %>€</p>
              <p><i class="fa fa-paper-plane"> </i> "<%= booking.message %>"</p>
            </span>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
