<div class="bg-grey bg-height">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="white-card text-center">
        <h2>1 <%= @gift.name %> <br>
        @<%= @gift.bar.name %></h2>
        <%= simple_form_for [@gift.bar, @booking] do |f| %>
          <%= f.error_notification %>
          <%= f.hidden_field :gift_id %>
          <%= f.input :friend_name, placeholder: "friend's name", label: false %>
          <%= f.input :friend_email, placeholder: "friend's email", label: false %>
          <div class="inline-blocks"><p>- OR -</p><%= f.input :friend_phone_number, placeholder: "friend's phone number", label: false %></div>
          <%= f.input :message, :as => :text, placeholder: "Add a message for your friend", input_html: {}, label: false %>
          <%= f.button :submit, 'Confirm', class: "action-btn" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


