<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <div class="row text-center">
        <div class="col-xs-12">
          <h4>1 <%= @gift.name %> </h4>
          <h4>@<%= @gift.bar.name %></h4>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
        <%= simple_form_for [@gift.bar, @booking] do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :gift_id %>
        <%= f.input :friend_name, placeholder: "friend name", label: false %>
        <%= f.input :friend_email, placeholder: "friend email", label: false %>
        <%= f.input :friend_phone_number, placeholder: "friend phone number", label: false %>
        <%= f.input :message, placeholder: "Add a message for your friend", label: false %>
        <%= f.button :submit %>
        <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
