<div class="bg-grey bg-height">
  <div class="container-fluid">
      <div class="col-xs-12 col-md-6 col-md-offset-3 nopadding">
        <div class="white-card text-center">
        <h1>Edit your profile</h1>
        <%= simple_form_for(@user) do |f| %>
          <div class="user-form">
            <%= image_tag current_user.put_picture(:thumb) %>
            <%= f.label "Edit your picture" %>
            <div class="btn btn-primary btn-upload">
              <%= f.file_field :picture, id: "myFileInput" %>
                <strong>UPLOAD</strong><i class="fa fa-fw fa-cloud-upload"></i><span id="fileName"></span>
            </div>
            <% if current_user.first_name? %>
              <%= f.input :name, input_html: { value: current_user.first_name } %>
            <% else %>
              <%= f.input :name, input_html: { value: current_user.email[/[^@]+/] } %>
            <% end %>
            <%= f.input :address %>
            <%= f.input :phone_number %>
          </div>
          <%= f.button :submit, "Update", class: "btn-action" %>
        <% end %>
        <%= link_to "Change email or password", edit_user_registration_path %>
        </div>
      </div>
  </div>
</div>


<%= content_for :after_js do %>
  <script>
  $(document).ready(function(){
    inputField = $('#myFileInput');
    inputField.change(function(){
      $('#fileName').append("<i class='fa fa-check'></i>");
      $('.fa-cloud-upload').hide();
    })
  });

  </script>
<% end -%>
