<div class="bg-grey">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="white-card text-center">
        <h1>Edit your profile</h1>
        <%= simple_form_for(@user) do |f| %>
          <div class="user-form">
            <%= image_tag current_user.put_picture(:thumb) %>
            <%= f.input :picture, label: 'Edit your picture' %>
            <% if current_user.first_name? %>
              <%= f.input :name, input_html: { value: current_user.first_name } %>
            <% else %>
              <%= f.input :name, input_html: { value: current_user.email[/[^@]+/] } %>
            <% end %>
            <%= f.input :address %>
            <%= f.input :phone_number %>
          </div>
          <%= f.button :submit, "Update", class: "btn-action" %>
        <% end %>
        <%= link_to "Change email or password", edit_user_registration_path %>
        </div>
      </div>
    </div>
  </div>
</div>
